:root {
	--light-page-color-transparent: rgba(255, 255, 255, 0);
	--dark-page-color-transparent: rgba(27, 27, 27, 0);
	--margin: 4rem;
	--legible-width: 75ch;
	--transition-function: ease-in-out;
}

.color-scheme-light {
	--page-color-transparent: var(--light-page-color-transparent);
}
.color-scheme-dark {
	--page-color-transparent: var(--dark-page-color-transparent);
}

@media (prefers-color-scheme: light) {
	:root {
		--page-color-transparent: var(--light-page-color-transparent);
	}
} 

@media (prefers-color-scheme: dark) {
	:root {
		--page-color-transparent: var(--dark-page-color-transparent);
	}
}

@media (max-width: 800px) {
	:root {
		--margin: 1.5rem;
	}
}
@media (max-width: 600px) {
	:root {
		--margin: 1rem;
	}
}
/**
 *
 * Body
 *
 */
body.loading #site-header,
body.loading #site-content,
body.loading #site-footer {
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility;
	transition-duration: 500ms;
	transition-timing-function: var(--transition-function);
	will-change: opacity, visibility;
}
body.loaded #site-header,
body.loaded #site-content,
body.loaded #site-footer {
	opacity: 1;
	visibility: 'visible';
	transition-property: opacity, visibility;
	transition-duration: 500ms;
	transition-timing-function: var(--transition-function);
}
/**
 *
 * SITE
 *
 */
.site-header {
	background-color: transparent;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	left: 0;
	padding: 1rem;
	position: fixed;
	top: 18px;
	width: 100vw;
	z-index: 20;
}

.site-heading,
.site-navigation {
	background-color: var(--page-color-hover);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	border: 1px solid var(--input-border-alpha);
	border-radius: calc(var(--radius) * 2);
	box-shadow: 0 5px 10px -2px var(--input-shadow-alpha);
	min-height: 2.75rem;
	position: relative;
	transition-property: border-color, box-shadow;
	transition-duration: 200ms;
	transition-timing-function: var(--transition-function);
}

.site-heading:hover,
.site-navigation:hover {
	border: 1px solid var(--input-border);
	box-shadow: 0 0 7px -2px var(--input-shadow);
	transition-property: border-color, box-shadow;
	transition-duration: 200ms;
	transition-timing-function: var(--transition-function);
}

.site-heading {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	padding: 0.4875rem;
}

#site-logo,
#site-title {
	height: 1.775rem;
}

#site-logo {
	margin-right: 0.5rem;
	width: 1.775rem;
}

.site-heading .h1 {
	background-color: transparent;
	font-size: calc(var(--font-size) * 1.5);
	margin: 0;
	padding: 0;
}
.site-heading a {
	line-height: 0;
}

/** MENU **/

.site-navigation {
	margin-left: var(--margin);
	padding: 0.2rem;
	position: relative;
}

@media (max-width: 800px) {
	.site-navigation {
		padding: 0;
	}	
}

.site-navigation ul {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.site-navigation a {
	display: block;
	line-height: 1;
	margin: 0;
}

button.menu-opener {
	align-items: center;
	border: 0;
	color: var(--text-important);
	cursor: pointer;
	display: flex;
	height: 2.75rem;
	justify-content: center;
	padding: 0.4875rem;
	width: 2.75rem;
}

@media (min-width: 800px) {
	button.menu-opener {
		display: none;
	}
}

button.menu-opener.open .text-close {
	display: none;
}

button.menu-opener:not(.open) .text-open {
	display: none;
}
button.menu-opener .menu-opener-text,
button.menu-opener .menu-opener-icon {
	display: inline-block;
	position: relative;
}
button.menu-opener .menu-opener-text {
	display: none;
}
button.menu-opener .menu-opener-icon {
	height: 1.5rem;
	margin: 0;
	width: 1.5rem;
}

button.menu-opener .menu-opener-icon::before,
button.menu-opener .menu-opener-icon::after {
	content: '';
	background-color: var(--text-important);
	border-color: var(--text-important);
	border-radius: 1pt;
	position: absolute;
	display: block;
	height: 0.2rem;
	left: 50%;
	top: 50%;
	width: 90%;
	transition-duration: 200ms;
	transition-property: transform, border, width;
	transition-timing-function: var(--transition-function);
	will-change: transform;
}

button.menu-opener .menu-opener-icon::before {
	transform: translate(-50%, -225%) rotate(0);
}

button.menu-opener .menu-opener-icon::after {
	transform: translate(-50%, 125%) rotate(0);
}

button.menu-opener.open .menu-opener-icon::before,
button.menu-opener.open .menu-opener-icon::after {
	transition-duration: 200ms;
	transition-property: transform, border, width;
	transition-timing-function: var(--transition-function);
	width: 100%;
	will-change: transform;
}

button.menu-opener.open .menu-opener-icon::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

button.menu-opener.open .menu-opener-icon::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.site-navigation ul.menu {
	padding: 0;
	transition-duration: 200ms;
	transition-property: transform, width;
	transition-timing-function: var(--transition-function);
}

@media (min-width: 800px) {
	.site-navigation ul.menu {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
	}
	.site-navigation ul.menu li.menu-item:hover > a:not(:hover) {
		background-color: var(--element-border);
		border-radius: calc(var(--radius) * 1.25);
	}
	.site-navigation li.menu-item {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		margin: 0;
		padding: 0;
		position: relative;
	}
	.site-navigation ul.menu > li.menu-item:not(:last-child) {
		margin-right: 0.2rem;
	}
	.site-navigation li.menu-item > a,
	#bodyContent .site-navigation li.menu-item > a,
	.site-navigation li.sub-menu-item > a,
	#bodyContent .site-navigation li.sub-menu-item > a {
		align-items: center;
		background-color: var(--page-color-transparent);
		border-radius: calc(var(--radius) * 1.25);
		display: flex;
		height: 100%;
		position: relative;
		transition-property: background-color, color;
		transition-timing-function: var(--transition-function);
		transition-duration: 100ms;
	}

	.site-navigation li.menu-item > a,
	#bodyContent .site-navigation li.menu-item > a {
		padding-top: 0.2rem;
		padding-right: 1rem;
		padding-bottom: 0.2rem;
		padding-left: 1rem;
	}

	.site-navigation li.menu-item > a::after {
		background-color: transparent;
		bottom: -0.5rem;
		content: '';
		display: block;
		height: 1rem;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: -1;
	}

	.site-navigation li.menu-item a:hover,
	#bodyContent .site-navigation li.menu-item a:hover,
	.site-navigation li.sub-menu-item a:hover,
	#bodyContent .site-navigation li.sub-menu-item a:hover {
		background-color: var(--element-border);
		color: var(--text-important);
		transition-property: background-color, color;
		transition-timing-function: var(--transition-function);
		transition-duration: 100ms;
	}

	.site-navigation ul.sub-menu {
		border: 1px solid var(--input-border-alpha);
		border-radius: calc(var(--radius) * 2);
		background-color: var(--page-color-hover);
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
		box-shadow: 0 5px 10px -2px var(--input-shadow-alpha);
		font-size: 0.9em;
		min-width: 15ch;
		padding: 0.2rem;
		position: absolute;
		right: 0;
		transform: translateY(calc(0.3rem + 1px));
		transition-property: background-color, border-color, opacity,visibility;
		transition-duration: 200ms;
		transition-timing-function: var(--transition-function);
		top: 100%;
		will-change: opacity;
	}
	.site-navigation li.menu-item:not(:hover) ul.sub-menu {
		opacity: 0;
		transition-property: background-color, border-color, opacity,visibility;
		transition-duration: 200ms;
		transition-timing-function: var(--transition-function);
		visibility: hidden;
	}
	.site-navigation li.menu-item ul.sub-menu:hover {
		border: 1px solid var(--input-border);
		box-shadow: 0 0 7px -2px var(--input-shadow);
		transition-property: background-color, border-color, opacity,visibility;
		transition-duration: 200ms;
		transition-timing-function: var(--transition-function);
	}
	.site-navigation li.sub-menu-item {
		text-align: right;
	}

	.site-navigation li.sub-menu-item > a,
	#bodyContent .site-navigation li.sub-menu-item > a {
		justify-content: flex-end;
		padding: 0.75rem 0.6rem;
	}

	.site-navigation li.sub-menu-item:not(:last-child) {
		margin-bottom: 0.2rem;
	}
	.site-navigation li.sub-menu-item:last-child {
		margin-bottom: 0;
	}
}

.site-navigation ul.menu li.menu-item {
	align-content: stretch;
	align-items: center;
	display: flex;
}

@media (max-width: 800px) {
	.site-navigation ul.menu {
		background-color: var(--page-color);
		box-shadow: 0 0 0 0 transparent;
		border: 1px solid var(--input-border-alpha);
		border-radius: calc(var(--radius) * 2);
		display: block;
		flex-flow: column nowrap;
		font-size: 1.2rem;
		height: calc(100vh - 6.75rem);
		overflow: scroll;
		padding: 1rem;
		position: absolute;
		right: 0;
		top: calc(100% + 1rem);
		width: 500px;
		max-width: calc(100vw - 2 * var(--margin));
		transition-duration: 200ms;
		transition-property: transform, width, box-shadow;
		transition-timing-function: var(--transition-function);
		z-index: -1;
	}
	.site-navigation ul.menu.open {
		box-shadow: 0 10px 30px -5px var(--input-shadow);
		transition-duration: 200ms;
		transition-property: transform, width, box-shadow;
		transition-timing-function: var(--transition-function);
	}
	.site-navigation ul.menu ul.menu,
	.site-navigation ul.menu ul.sub-menu,
	.site-navigation ul.menu li.menu-item,
	.site-navigation ul.menu li.sub-menu-item {
		display: block;
		margin: 0;
		padding: 0;
	}
	@media (max-width: 600px) {
		.site-navigation ul.menu {
			width: calc(100vw - var(--margin));
			transition-duration: 200ms;
			transition-property: transform, width, box-shadow;
			transition-timing-function: var(--transition-function);
		}
	}
	.site-navigation ul.menu:not(.open) {
		box-shadow: 0 0 0 0 transparent;
		transform: translateX(100vw);
		transition-duration: 200ms;
		transition-property: transform, width, box-shadow;
		transition-timing-function: var(--transition-function);
	}
	.site-navigation ul.menu li.menu-item {
		height: auto;
		padding: 0;
		margin: 0;
	}
	.site-navigation ul.menu li.menu-item:not(:first-child) {
		margin-top: 1rem;
	}
	.site-navigation ul.menu li.menu-item:not(:last-child) {
		margin-bottom: var(--margin);
	}
	.site-navigation ul.menu li.menu-item ul.sub-menu {
		background-color: var(--element-background-alpha);
		border: 1px solid var(--input-border-alpha);
		border-radius: calc(var(--radius) * 1.5);
		display: block;
		margin: 0.5rem 0 1rem 0;
		min-width: unset;
		padding: 0.2rem;
		position: relative;
		right: unset;
		top: unset;
		visibility: visible;
	}
	.site-navigation li.sub-menu-item:not(:first-child) {
		margin-top: 0.2rem;
	}
	.site-navigation li.sub-menu-item a,
	#bodyContent .site-navigation li.sub-menu-item > a {
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: var(--radius);
		font-weight: normal;
		padding: 0.5rem 0.65rem;
		position: relative;
	}

	.site-navigation li.sub-menu-item a:hover {
		background-color: var(--page-color) !important;
		border: 1px solid var(--input-border-alpha);
	}
}

/*
 * Page Content
 */

.site-content {
	background-color: var(--page-color);
}

.page-header {
	align-items: center;
	background-color: var(--page-color); /* #f6e9e6; */
	display: flex;
	height: calc(100vh - 18px);
	justify-content: center;
	position: relative;
	width: 100vw;
}

.header-titling {
	font-weight: 750;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	max-width: calc(100vw - 2 * var(--margin));
	overflow-wrap: break-word;
	padding: 4.875rem 0;
	text-align: center;
	width: var(--legible-width);
	word-wrap: break-word;
	z-index: 3;
}

.header-titling h1:first-child,
.header-titling h2:first-child {
	margin-top: 0;
}
.header-titling h1:not(:first-child),
.header-titling h2:not(:first-child)  {
	margin-top: .5em;
}

.header-titling h1,
.header-titling h2 {
	padding: 0;
}

.header-titling h1 {
	font-size: calc(3rem + .4 * 10vw);
	line-height: 1.4;
}

.header-titling h2 {
	font-size: calc(2rem + .2 * 10vw);
	line-height: 1.3;
}

a.js-header-scroller {
	align-items: center;
	background-color: var(--page-color-hover);
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid var(--input-border-alpha);
	border-radius: calc(2 * var(--radius));
	box-shadow: 0 5px 10px -2px var(--input-shadow);
	bottom: 1rem;
	color: var(--text-optional-light);
	display: flex;
	font-size: 2rem;
	font-weight: 900;
	height: 2.75rem;
	justify-content: center;
	left: 50%;
	letter-spacing: 0;
	margin: 2rem auto;
	padding: 1.5rem;
	position: absolute;
	width: 2.75rem;
	z-index: 7;
	text-align: center;
	transform: translate(-50%,0);
	transition-property: box-shadow, border-color, color, transform;
	transition-duration: 200ms;
	transition-timing-function: var(--transition-function);
}

a.js-header-scroller:hover {
	border-color: var(--input-border);
	box-shadow: 0 0 7px -2px var(--input-shadow);
	color: var(--text-color-light-hover);
	transform: translate( -50%, 2px );
	transition-property: box-shadow, border-color, color, transform;
	transition-duration: 200ms;
	transition-timing-function: var(--transition-function);
}

/**
 *
 * PAGE
 *
 */

.page-content {
	background-color: var(--page-color);
	margin: 0;
	padding: 0;
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.page-row {
	margin: 0 auto;
	max-width: calc(100vw - 2 * var(--margin));
	min-height: calc(100vh - 18px);
	padding: 4.875rem 0;
	width: var(--legible-width);
}
.page-sub-row {
	height: auto;
	padding: 2rem 0;
	width: 100%;
}

p {
	margin: 1rem 0;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

.page-content img,
.page-row img,
.page-content p img,
p img,
.page-content video,
.page-row video,
video,
.page-content iframe,
.page-row iframe,
iframe {
	display: block;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	max-width: calc(100vw - 2 * var(--margin)) !important;
}
table {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
.table-wrapper {
	max-width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	overflow-x: scroll;
}
.form-calculator {
	background-color: var(--element-background);
	border-radius: calc(var(--radius) * 2);
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	padding: .5rem;
}

.form-calculator label {
	display: block;
	font-weight: 500;
	margin-bottom: .5rem;
}

.form-input {
	padding-bottom: 1rem;
}

.element-group {
	background-color: var(--page-color);
	border-radius: var(--radius);
	margin: .5rem;
	padding: 1rem;
}

.input-wrapper {
	display: flex;
	align-items: center;
	align-content: center;
	flex-flow: row nowrap;
	min-height: 3rem;
}
.input-wrapper > :not(:last-child) {
	margin-right: .25rem;
}

.input-wrapper input {
	width: auto;
}

.output-volume {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: -.05rem;
	line-height: 1;
}
/**
 *
 * Footer
 *
 */
@media (min-width: 800px) {
	.site-footer {
		--margin: 2rem;	
	}
}
.site-footer {
	align-items: start;
	background-color: var(--element-background);
	border-radius: calc(2 * var(--radius));
	display: grid;
	gap: 2rem;
	justify-content: center;
    margin: var(--margin) auto;
    max-width: calc(100vw - 2 * var(--margin));
	padding: 2rem;
	position: relative;
	width: var(--legible-width);
}

.site-footer > :empty {
	display: none;
}

.site-social-networks {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.site-icon {
	display: block;
}

.site-icon:not(:last-child) {
	margin-right: 2rem;
}

.site-icon-svg {
	height: 2rem;
}

.site-icon-svg > * {
	fill: var(--text-optional);
	transition: fill 200ms var(--transition-function);
}

.site-icon:hover > .site-icon-svg > * {
	fill: var(--text-color);
	transition: fill 200ms var(--transition-function);
}

.site-sponsors {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 1rem;
	align-items: center;
	justify-content: center;
	margin-top: var(--margin);
	margin-bottom: var(--margin);
}

.site-sponsor img:not(:hover) {
	opacity: 1;
	filter: saturate(0);
	transform: scale(1);
	transition-property: filter, transform;
	transition-duration: 200ms;
	transition-timing-function: ease;
}

.site-sponsor img:hover {
	opacity: 1;
	transform: scale(1.1);
	transition-property: filter, transform;
	transition-duration: 200ms;
	transition-timing-function: ease;
}


@media (max-width: 900px) {
	.site-sponsors {
		grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
	}
}

.site-colophon {
	color: var(--text-optional);
	display: block;
	margin: auto;
	position: relative;
	text-align: center;
	width: auto;
}

/**
 *
 * MODULES
 *
 */

/** TEAM MEMBERS **/

.team-global {
	display: block;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.team-global:not(:last-child) {
	margin-bottom: calc(var(--margin) * 2);
}

.team-type {
	display: block;
	margin-top: var(--margin);
	margin-bottom: calc(var(--margin) / 2);
}

.team-member-grid,
.team-advisor-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-columns: repeat(auto-fill, 200px);
	grid-auto-rows: 200px;
	gap: 1rem;
	justify-content: stretch;
	justify-items: stretch;
	align-items: stretch;
}

.team-member-cell,
.team-advisor-cell {
	background-color: transparent;
	border-radius: calc(var(--radius) * 2);
	display: block;
	overflow: hidden;
	padding: 0;
	position: relative;
}
.team-member-cell .team-member-image,
.team-advisor-cell .team-advisor-image {
	border-radius: calc(var(--radius) * 2);
	left: 0;
	object-fit: cover;
	object-position: center center;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 100%;
}
.team-member-cell .team-member-info,
.team-advisor-cell .team-advisor-info {
	background-color: var(--page-color-alpha);
	border: 1px solid var(--element-border);
	border-radius: calc(var(--radius) * 1.25);
	bottom: 0;
	left: 50%;
	padding: 0.5rem;
	position: absolute;
	width: calc(100% - .5rem);
	transform: translate(-50%,100%);
	transition: transform var(--transition-function) 200ms;
}

.team-member-cell .team-member-info a,
.team-advisor-cell .team-advisor-info a {
	font-weight: 500 !important;
}

.team-member-cell:hover .team-member-info,
.team-advisor-cell:hover .team-advisor-info {
	transform: translate(-50%,-.25rem);
	transition: transform var(--transition-function) 200ms;
}

.team-member-name,
.team-advisor-name,
.team-member-name strong,
.team-advisor-name strong {
	margin: 0;
}

.team-member-name,
.team-advisor-name {
	margin-bottom: .5rem;
}

.team-member-row,
.team-advisor-row {
	--row-height: 80vh;
	align-content: center;
	align-items: center;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: center;
	justify-items: center;
	margin: 0;
	min-height: 60vh;
	max-width: calc(100vw - 2 * var(--margin));
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.team-member-row > *,
.team-advisor-row > * {
	display: flex;
	height: auto;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 100%;
}

.team-member-row:first-child,
.team-advisor-row:first-child {
	margin-top: 2rem;
	padding-top: 0;
}

.team-member-row:last-child,
.team-advisor-row:last-child {
	margin-bottom: 2rem;
	padding-bottom: 0;
}

.team-member-row .team-member-info,
.team-advisor-row .team-advisor-info {
	align-items: center;
	flex-flow: column nowrap;
	padding: 0;
}

.team-member-row .team-member-info > *,
.team-advisor-row .team-advisor-info > * {
	align-items: start;
	width: 100%;
}

@media (min-width: 900px) {
	.team-rows .team-type {
		display: none;
	}
}

@media (max-width: 900px) {
	.team-grid {
		display: none;
	}
	.team-member-row,
	.team-advisor-row {
		align-content: center;
		grid-template-columns: unset;
		gap: unset;
		justify-content: unset;
		justify-items: unset;
		min-height: unset;
		width: unset;
	}
	
	.team-member-row > :first-child,
	.team-advisor-row > :first-child {
		justify-content: center;
	}
	
	.team-member-row .team-member-info,
	.team-member-row .team-member-info *,
	.team-advisor-row .team-advisor-info,
	.team-advisor-row .team-advisor-info * {
		justify-content: flex-start;
	}

	.team-member-row .team-member-info,
	.team-advisor-row .team-advisor-info {
		align-items: center;
		flex-flow: column nowrap;
		margin-top: 1rem;
	}
}

.team-member-row img,
.team-advisor-row img {
	border-radius: calc(var(--radius) * 2);
	box-shadow: 0 5px 10px -2px var(--input-shadow-alpha);
	height: auto;
	max-height: calc(80vh - 2 * var(--margin));
	min-height: unset;
	max-width: 100%;
	width: auto;
}

.team-member-row .team-member-info,
.team-advisor-row .team-advisor-info {
	background-color: var(--page-color);
	border: 1px solid var(--element-border);
	border-radius: calc(var(--radius) * 2);
	box-shadow: 0 5px 10px -2px var(--input-shadow-alpha);
	transition: box-shadow 200ms ease;
	padding: 1rem;
}

.team-member-row .team-member-info:hover,
.team-member-row img:hover,
.team-advisor-row .team-advisor-info:hover,
.team-advisor-row img:hover {
	box-shadow: 0 0 7px -2px var(--input-shadow);
	transition: box-shadow 200ms ease;
}

.team-member-link,
.team-advisor-link {
	display: inline-block;
}

.team-member-link .site-icon,
.team-advisor-link .site-icon {
	display: inline-block;
	height: 2rem;
	margin: 0;
}
.site-icon-orcid {
	padding: .3rem;
}

/** JS COMPARE **/
.js-compare {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 0;
}

.js-compare,
.js-compare-layers {
	display: block;
	height: calc(100vh - 18px);
	width: 100vw;
}

.js-compare-layers {
	position: relative;
}

.js-compare,
.js-compare *,
.js-compare-layers::after {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.js-compare-layers::after {
	background: linear-gradient(var(--page-color-transparent),var(--page-color)); /* linear-gradient(#f6e9e600,#f6e9e6); */
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 6;
}

.js-compare-layer {
	height: calc(100vh - 18px);
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100vw;
}

.js-compare-layer-1 {
	width: 50%;
	will-change: width;
	z-index: 1;
}
.js-compare-layer img {
	height: calc(100vh - 18px);
	object-fit: cover;
	object-position: center center;
	min-width: 100vw;
	width: auto;
}
