.site-header {
    display: flex;

    height: 3rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.site-footer {
    background-color: #833B3F;
    display: block;
    min-height: 400px;
    position: relative;
}

.site-colophon {
    color: white;
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    width: auto;
}

/**
 *
 * MODULES
 *
 */
.js-compare {
    display: block;
    height: 100vh;
    position: relative;
    width: 100vw;
}
.js-compare,
.js-compare * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.js-compare::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.js-compare-layer {
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
}
.js-compare-layer-1 {
    width: 50%;
    z-index: 1;
}
.js-compare-layer img {
    min-height: 100vw;
    object-fit:none;
    object-position:top left;
}